body {
	background-color: transparent;
	font-family: arial,helvetica,sans-serif;
}

th {
	color: black;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

.individualHead {
	color: black;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

tr {
	color: black;
	font-size: 12pt;
	text-align: left;
}

.individualRow {
	color: black;
	font-size: 10pt;
	text-align: left;
}

label {
	font-weight: bold;
}
