<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<title>Individual</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div>
				<h1>Individual</h1>
			</div>
		</div>

		<div class="row">
			<div>
				<table class="table">
					<tbody th:if="${individual}">
						<tr>
							<td><span th:text="#{individual.id}"></span></td>
							<td><span th:text="${individual.id}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.firstName}"></span></td>
							<td><span th:text="${individual.firstName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.middleName}"></span></td>
							<td><span th:text="${individual.middleName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.lastName}"></span></td>
							<td><span th:text="${individual.lastName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.maidenName}"></span></td>
							<td><span th:text="${individual.maidenName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.familiarName}"></span></td>
							<td><span th:text="${individual.familiarName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.genderType}"></span></td>
							<td><span th:text="${genderName}"></span></td>
						</tr>
						<tr>
							<td><span th:text="#{individual.note}"></span></td>
							<td><span th:text="${individual.note}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th>Type</th>
						<th>Date</th>
						<th>Place</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${events.empty}">
						<td colspan="3">No events found</td>
					</tr>
					<tr th:each="event : ${events}">
						<td><span th:text="${event.eventType.qualifier}"></span></td>
						<td><span th:text="${event.eventDate}"></span></td>
						<td><span th:text="${event.eventPlace}"></span></td>
						<td><span th:text="${event.eventNote}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th>Role</th>
						<th>Relationship</th>
						<th>Other First Name</th>
						<th>Other Middle Name</th>
						<th>Other Last Name</th>
						<th>Other Role</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${relationshipsWithOther.empty}">
						<td colspan="3">No relationships found</td>
					</tr>
					<tr th:each="relationshipWithOther : ${relationshipsWithOther}">
						<td><span th:text="${relationshipWithOther.roleType.qualifier}"></span></td>
						<td><span th:text="${relationshipWithOther.relationshipType.qualifier}"></span></td>
						<td>
							<a th:href="@{/app/individual/display/{id}(id=${relationshipWithOther.otherIndividual.id}, page=${currentPage}, searchArg=${searchArg})}">
								<span th:text="${relationshipWithOther.otherIndividual.firstName}"></span>
							</a>
						</td>
						<td>
							<a th:href="@{/app/individual/display/{id}(id=${relationshipWithOther.otherIndividual.id}, page=${currentPage}, searchArg=${searchArg})}">
								<span th:text="${relationshipWithOther.otherIndividual.middleName}"></span>
							</a>
						</td>
						<td>
							<a th:href="@{/app/individual/display/{id}(id=${relationshipWithOther.otherIndividual.id}, page=${currentPage}, searchArg=${searchArg})}">
								<span th:text="${relationshipWithOther.otherIndividual.lastName}"></span>
							</a>							
						</td>
						<td><span th:text="${relationshipWithOther.otherRoleType.qualifier}"></span></td>
						<td><span th:text="${relationshipWithOther.note}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<p>
				<a
					th:href="@{/app/individual/paged(page=${page}, searchArg=${searchArg})}"><span th:text="#{return.to.list}"></span>
				</a>
			</p>
		</div>

	</div>
</body>
</html>
