<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>Individual</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div>
			<h1> Individual </h1>
		</div>
	</div>
		
	<div class="row">
		<div >
			<table class="table">
				<tbody th:if="${individual}">
					<tr>
						<td><span th:text="#{individual.id}"></span></td>
						<td><span th:text="${individual.id}"></span></td>			
					</tr>
					<tr>
						<td><span th:text="#{individual.firstName}"></span></td>
						<td><span th:text="${individual.firstName}"></span></td>						
					</tr>
					<tr>
						<td><span th:text="#{individual.middleName}"></span></td>
						<td><span th:text="${individual.middleName}"></span></td>						
					</tr>
					<tr>
						<td><span th:text="#{individual.lastName}"></span></td>
						<td><span th:text="${individual.lastName}"></span></td>
					</tr>
					<tr>
						<td><span th:text="#{individual.maidenName}"></span></td>
						<td><span th:text="${individual.maidenName}"></span></td>				
					</tr>
					<tr>
						<td><span th:text="#{individual.familiarName}"></span></td>
						<td><span th:text="${individual.familiarName}"></span></td>						
					</tr>
					<tr>
						<td><span th:text="#{individual.genderType}"></span></td>
						<td><span th:text="${genderName}"></span></td>						
					</tr>										
					<tr>
						<td><span th:text="#{individual.birthDate}"></span></td>
						<td><span th:text="${individual.birthDate}"></span></td>						
					</tr>					
					<tr>
						<td><span th:text="#{individual.birthPlace}"></span></td>
						<td><span th:text="${individual.birthPlace}"></span></td>						
					</tr>					
					<tr>
						<td><span th:text="#{individual.deathDate}"></span></td>
						<td><span th:text="${individual.deathDate}"></span></td>						
					</tr>					
					<tr>
						<td><span th:text="#{individual.deathPlace}"></span></td>
						<td><span th:text="${individual.deathPlace}"></span></td>						
					</tr>
					<tr>
						<td><span th:text="#{individual.deathCause}"></span></td>
						<td><span th:text="${individual.deathCause}"></span></td>						
					</tr>								
					<tr>
						<td><span th:text="#{individual.notes}"></span></td>
						<td><span th:text="${individual.notes}"></span></td>						
					</tr>															
				</tbody>
			</table>
		</div>
	</div>
		
	<div>
		<p><a th:href="@{/app/individual/paged(page=${page}, searchArg=${searchArg})}"><span th:text="#{return.to.list}"></span></a></p>
	</div>
	
</div>
</body>
</html>
