<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>Individual</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div>
			<h1> Individual </h1>
		</div>
	</div>
	<div class="row">
		<div >
			<table class="table">
				<tbody th:if="${individual}">
					<tr>
						<td>ID</td>
						<td><span th:text="${individual.id}"></span></td>			
					</tr>
					<tr>
						<td>First Name</td>
						<td><span th:text="${individual.firstName}"></span></td>						
					</tr>
					<tr>
						<td>Middle Name</td>
						<td><span th:text="${individual.middleName}"></span></td>						
					</tr>
					<tr>
						<td>Last Name</td>
						<td><span th:text="${individual.lastName}"></span></td>
					</tr>
					<tr>
						<td>Maiden Name</td>
						<td><span th:text="${individual.maidenName}"></span></td>				
					</tr>
					<tr>
						<td>Familiar Name</td>
						<td><span th:text="${individual.familiarName}"></span></td>						
					</tr>
					<tr>
						<td>Gender</td>
						<td><span th:text="${individual.genderType}"></span></td>						
					</tr>										
					<tr>
						<td>Birth Date</td>
						<td><span th:text="${individual.birthDate}"></span></td>						
					</tr>					
					<tr>
						<td>Birth Place</td>
						<td><span th:text="${individual.birthPlace}"></span></td>						
					</tr>					
					<tr>
						<td>Death Date</td>
						<td><span th:text="${individual.deathDate}"></span></td>						
					</tr>					
					<tr>
						<td>Death Place</td>
						<td><span th:text="${individual.deathPlace}"></span></td>						
					</tr>
					<tr>
						<td>Death Cause</td>
						<td><span th:text="${individual.deathCause}"></span></td>						
					</tr>								
					<tr>
						<td>Notes</td>
						<td><span th:text="${individual.notes}"></span></td>						
					</tr>															
				</tbody>
			</table>
		</div>
	</div>
	<p><a href="/app/individual/paged">Return to list</a></p>
</div>
</body>
</html>
