<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>Browse individuals</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Browse individuals</h1>
			</div>
		</div>
		<div>
		
			<div>
				<form action="/app/individual/paged">
					<table>
						<tbody>
							<tr>
								<td>
									<td>Current filter:
									<span th:text="${searchArg}"></span>&nbsp;
									<input type="hidden" name="searchArg" value="${searchArg}" />
									<input type="hidden" name="page" value="${currentPage}" />
								</td>
								<td>
									<input type="submit" name="action" value="Reset">
								</td>
							</tr>
							<tr>
								<td>
									<td>New filter:
									<input type="text" id="nameSearch" name="nameSearch">&nbsp;
								</td>
								<td>				
  									<input type="submit" name="action" value="Filter">
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		
			<div>
				<table>
					<tbody>
						<tr>
							<td><span><a th:href="@{/app/individual/paged(page=${firstPage}, searchArg=${searchArg})}" title="First page"><img th:src="@{/first_page_black_24x24.png}"></a></span></td>
							<td><span><a th:href="@{/app/individual/paged(page=${prevPage}, searchArg=${searchArg})}" title="Previous page"><img th:src="@{/navigate_before_black_24x24.png}"></a></span></td>
							<td><span th:text="${currentPage}" title="Current page"></span> of <span th:text="${numberOfPages}" title="Number of pages"></span></td>
							<td><span><a th:href="@{/app/individual/paged(page=${nextPage}, searchArg=${searchArg})}" title="Next page"><img th:src="@{/navigate_next_black_24x24.png}"></a></span></td>
							<td><span><a th:href="@{/app/individual/paged(page=${lastPage}, searchArg=${searchArg})}" title="Last page"><img th:src="@{/last_page_black_24x24.png}"></a></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div>
				<table>
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>							
						</tr>
					</thead>
					<tbody>
						<tr th:if="${individuals.empty}">
							<td colspan="3">No individuals found</td>
						</tr>
						<tr th:each="individual : ${individuals}">	
							<td>
								<a th:href="@{/app/individual/view/{id}(id=${individual.id}, page=${currentPage}, searchArg=${searchArg}, returnUri=${returnUri}) }">
									<span th:text="${individual.firstName}"></span>
								</a>
							</td>
							<td>
								<a th:href="@{/app/individual/view/{id}(id=${individual.id}, page=${currentPage}, searchArg=${searchArg}, returnUri=${returnUri}) }">
									<span th:text="${individual.middleName}"></span>
								</a>	
							</td>
							<td>
								<a th:href="@{/app/individual/view/{id}(id=${individual.id}, page=${currentPage}, searchArg=${searchArg}, returnUri=${returnUri}) }">
									<span th:text="${individual.lastName}"></span>
								</a>	
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div>
			<p><a href="/app/individual/create">Add a new individual</a></p>
		</div>
		
	</div>
</body>

</html>
