<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>File upload</title>
</head>
<body>

	<h1>File Upload</h1>

	<form action="/app/upload/bekker" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" />
		<br /> <br /> 
		<div>
			<input type="checkbox" name="processUpload" /> Process upload
		</div>
		<br /> <br />
		<input type="submit" value="Upload" />
	</form>

</body>
</html>
